<%- include("header"); -%>
<div class="content">
    <h2>Compose</h2>
    <form action="/compose" method="POST">
        <label>Title</label><br>
        <input type="text" name="title"><br>
        <label>Post</label><br>
        <textarea name="message" cols="30" rows="10"></textarea><br>
        <button type="submit">Publish</button>
    </form>
</div>
<%- include("footer"); -%>